/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300;400&display=swap');

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

/* Colors */
:root {
    --light: #f8f8f8;
    --dark: #000;
    --accent: #000;
    /*--accent: #3e8afd;  Change this to whatever you want */
}

/* Global */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-family:'Poppins';
}

body {
    background-color: var(--light);
    color: var(--dark);
    color: white;
}

/* Icon Pack */
ion-icon {
    font-size: 64px;
    color: var(--light);
}

/* Nav Bar */
nav {
    position: fixed;
    width: 100vw;
    background-color: rgba(248, 248, 248, 0.5);
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(20px);
    z-index: 10;
}

nav a {
    font-size: 24px;
    color: var(--dark);
}

nav .items {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 8em;
}

.items ul {
    display: flex;
    font-weight: 300;
}

.items li {
    margin-left: 32px;
}

/* Hero Section */
.intro {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--light);

    /* Parallax Effect */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url('img/turtle.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro h1 {
    font-size: 64px;
    margin-bottom: 32px;
}

.intro span {
    font-weight: 400;
}

/* Down Arrow */
.intro a {
    position: absolute;
    bottom: 0;
    margin-bottom: 64px;
}

/* Sections */
.abt,
.proj,
.xp,
.contact {
    padding: 128px 360px;
}

/* About Section */
.abt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.belowbanner {
    background-image: linear-gradient(rgb(10,10,10,1), rgba(15, 15, 15,1));
}
.abt h1,
.abt h2 {
    font-weight: 400;
}

.abt h1 {
    margin-bottom: 32px;
}

.abt h2 {
    margin-bottom: 16px;
}

/* Left Side */
.abt .left-container {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.left-container .top {
    margin-bottom: 64px;
}

.bottom .skills {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 16px;
}

.skills p {
    font-size: 18px;
}

/* Right Side */
.abt .img {
    background-image: url('img/headshot.jpg');
    width: 350px;
    height: 350px;
    background-color: gray;
    filter: drop-shadow(0 5px 25px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
    background-size:cover;
}

/* Projects Section */
.proj p {
    color: white;
}

.proj h1 {
    font-weight: 400;
    margin-bottom: 64px;
    color: white;
}

/* Photo Grid */
.grid-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-gap: 64px;
    margin-bottom: 64px;
}

.grid-container div {
    width: 350px;
    height: 250px;
    background-color: gray;
    filter: drop-shadow(0 5px 25px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
    transition: 0.25s all ease-in-out;
}

/* Grid Animation */
.grid-container .one:hover,
.grid-container .two:hover,
.grid-container .three:hover,
.grid-container .four:hover,
.grid-container .five:hover,
.grid-container .six:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 8px 40px rgba(0, 0, 0, 0.5));
}

.grid-container .one {
    background-image: url('img/proj/NASA.png');
    background-position: center;
    background-size: 150%;
}

.grid-container .two {
    background-image: url('img/proj/kozy.png');
    background-position: left top;
    background-size: 150%;
}

.grid-container .three {
    background-image: url('img/proj/game.png');
    background-position: center;
    background-size: 150%;
}

.grid-container .four {
    background-image: url('img/proj/proj_our_world.png');
    background-position: center;
    background-size: 150%;
}

/* GitHub Link */
.link span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--dark);
}

.link ion-icon {
    font-size: 32px;
    color: var(--light);
    padding-left: 8px;
}

/* Experience Section */
.xp h1 {
    font-weight: 400;
    margin-bottom: 64px;
}

.xp span {
    display: flex;
    flex-direction: column;
}

.xp span h1 {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 0;
}

.xp span h2 {
    font-size: 24px;
}

.xp p {
    font-size: 18px;
}

.xp span div {
    margin-bottom: 32px;
}

.xp .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

/* Contact Section */
.contact {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact h1 {
    font-weight: 400;
    margin-bottom: 16px;
}

.contact .top {
    margin-bottom: 64px;
}

/* Buttons */
.btn a {
    display: inline-block;
    padding: 12px 32px;
    background-color: var(--light);
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    color: var(--dark);
    font-size: 18px;
    margin-bottom: 64px;
}

.contact .up {
    position: absolute;
    bottom: 0;
    margin-bottom: 64px;
}

.contact ion-icon {
    color: var(--light);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 128px;
}

footer p {
    font-weight: 300;
    font-size: 18px;
    color: gray;
}

footer p span {
    font-weight: 400;
}

/* Icons */
.socials {
    display: flex;
    align-content: center;
}

.socials a {
    margin-left: 32px;
}

.socials ion-icon {
    color: var(--dark);
    font-size: 32px;
}

@media screen and (max-width: 1850px) {
    .abt,
    .proj,
    .xp,
    .contact {
        padding: 128px 128px;
    }
}

@media screen and (max-width: 1280px) {
    .abt .img {
        width: 250px;
        height: 250px;
    }
    .grid-container {
        grid-template-columns: auto auto;
    }
}



/* Animation */

.tagline {
    border-right: solid 5px rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-size: 28px;
    color: rgba(255,255,255,.70);
  }

.tagline {
    animation: animated-text 4s linear 1s 1 normal both,
               animated-cursor 600ms linear infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 672px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }