/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300;400&display=swap');

h1,
h2 {
    font-family: 'Roboto';
    font-weight: 300;
}

p {
    font-family: 'Noto Serif';
    font-size: 24px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}
.contact {
    text-align: center;
}

/* Colors */
:root {
    --light: #f8f8f8;
    --dark: #000;
    --accent: #3e8afd; /* Can change to any they want */
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

/* Nav Bar */
nav {
    position: fixed;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(15px);
    z-index: 10;
}

nav .buttons {
    display: flex;
    justify-content: space-between;
    padding: 24px 128px;
}

nav a {
    font-size: 24px;
    font-family: 'Roboto';

    color: var(--dark);
}

nav ul {
    display: flex;
}

nav li {
    font-weight: 300;
    margin-left: 32px;
}

nav li a {
    transition: 0.25s color ease-in-out;
}

nav li a:hover,
nav li a:active {
    color: var(--accent);
}

/* Intro */
.intro {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--light);

    /* Parallax */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url('img/izayah-ramos-cR05i3WgRlQ-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro h1 {
    font-size: 64px;
    padding-bottom: 32px;
}

.intro a {
    position: absolute;
    bottom: 0;
    margin-bottom: 64px;
}

.intro span {
    font-weight: 400;
}

ion-icon {
    font-size: 64px;
    color: var(--light);
    transition: 0.25s color ease-in-out;
}

ion-icon:hover {
    color: var(--accent);
}

/* Body */
#about,
#projects,
#experience,
#contact {
    margin: 128px 360px;
}

/* About */
#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .leftContent {
    display: flex;
    flex-direction: column;
    width: 600px;
}

#about .main {
    margin-bottom: 64px;
}

.main h1,
.leftContent h2,
#projects h1,
#experience h1,
.contact h1 {
    font-weight: 400;
}

.main p {
    margin-top: 32px;
}

.leftContent h2 {
    margin-bottom: 16px;
}

.skills {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 16px;
}

.skills p {
    font-size: 18px;
}

#about .img {
    width: 350px;
    height: 250px;
    background-color: gray;
    filter: drop-shadow(0 6px 30px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
}

/* Projects */
#projects h1 {
    margin-bottom: 64px;
}

.grid-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-gap: 64px;
    margin-bottom: 64px;
}

.grid-container span {
    width: 350px;
    height: 250px;
    background-color: gray;
    border-radius: 24px;
    filter: drop-shadow(0 6px 30px rgba(0, 0, 0, 0.25));
    transition: 0.25s all ease-in-out;
}

.grid-container .one {
    background-image: url('img/izayah-ramos-cR05i3WgRlQ-unsplash.jpg');
    background-position: center;
    background-size: 120%;
}

.grid-container .one:hover,
.grid-container .two:hover,
.grid-container .three:hover,
.grid-container .four:hover,
.grid-container .five:hover,
.grid-container .six:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 8px 40px rgba(0, 0, 0, 0.5));
}

#projects a {
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--dark);
}

#projects a ion-icon {
    font-size: 32px;
    margin-left: 8px;
    color: var(--accent);
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--dark);
}
